.card-people {
  display: inline-block;
  padding: 15px;
  margin: 15px;
  width: 300px;
  border: 1px solid black;

  &.winner {
    border: 1px solid red;
  }

  table {
    table-layout: fixed;
    width: 100%;

    td {
      width: 50%;
    }
  }
}